@{
    ViewData["Title"] = "Email Sent";
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}
<div class="wrapper">
    <div class="title-text">
        <div class="title login">Email Sent</div>
    </div>
    <div class="form-container">
        <div class="form-inner">
            <div class="message" style="text-align:center; padding:20px; margin:20px;">
                If an account with that email exists, a password reset link has been sent.
            </div>
        </div>
    </div>
</div>
