@model CinemaMVC.ViewModels.ForgetPasswordVM
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}
<div class="wrapper">
    <div class="title-text">
        <div class="title login">Reset Password</div>
    </div>

    <div class="form-container">
        <div class="form-inner">
            <form asp-action="ForgetPassword" method="post" class="login">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="field">
                    <input type="text" placeholder="Email Address" asp-for="UserNameOrEmail" required />
                    <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                </div>

                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Send Reset Link" />
                </div>

                <div class="signup-link">
                    Remembered it? <a asp-action="Register" asp-controller="Account">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>
