@model CinemaMVC.ViewModels.ResetPasswordVM
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}
<div class="wrapper">
    <div class="title-text">
        <div class="title login">Reset Password</div>
    </div>
    <!-- Hidden Fields -->
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Token" />
    <div class="form-container">
        <div class="form-inner">
            <form asp-action="ResetPassword" method="post" class="login">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="field">
                    <input type="password" placeholder="New Password" asp-for="Password" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="field">
                    <input type="password" placeholder="Confirm Password" asp-for="ConfirmPassword" required />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Reset Password" />
                </div>
            </form>
        </div>
    </div>
</div>
